- if (error_message = flash[:alert])
  %h4.error
    = error_message
//- using the <pre> tag to ensure that the string is displayed in html with the same
//- indexing of characters as in our data
#full_text
  != @full_text_html