- if (error_message = flash[:alert])
  %h4.error
    = error_message
%textarea{readonly: true}
  = @raw_text
%select
  %option{value: 1}LOCATION
  %option{value: 2}ORGANIZATION
  %option{value: 3}PERSON
%button Save

:javascript
  var annotations = #{@annotations.to_json}
